/* Agrega estilos para el contenedor de inicio de sesión y registro */
.login-register-container {
    display: none;
    position: absolute;
    top: 100px; /* Ajusta según sea necesario */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.login-register-container.show {
    display: block;
}
