<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_registro.css') }}">
</head>
<body>

    <header>
        <div class="header-content">
            <h1 class="logo-title">
                <a href="{{ url_for('index') }}" class="logo-link">
                    <img class="centered-image logo" src="{{ url_for('static', filename='oso.png') }}" alt="OSO">
                    Grizzlies
                </a>
            </h1>
        </div>
    </header>


    <main>
        <div class="main-content">
            <h2>Registro</h2>
            <form method="POST" action="{{ url_for('registro') }}">
                {{ form.hidden_tag() }}
                {{ form.nombre_usuario.label }}
                {{ form.nombre_usuario }}
                {{ form.correo.label }}
                {{ form.correo }}
                {{ form.contraseña.label }}
                {{ form.contraseña }}
                {{ form.enviar }}
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Mi Página con Flask. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
